* {
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

header {
   background-color: #ff0000;
   color: #fff;
   padding: 10px 0;
}

header h1 {
   margin: 0;
}

#sobre {
   background-size: cover;
   background-position: center;
   padding: 50px 0;
   text-align: center;
}

#sobre img {
   max-width: 100%;
   height: auto;
   display: inline-block;
   margin: 0 20px 20px 0;
}

.photo img {
   width: 500px;
}
.sobre h2 {
   background-color: #ccc;
   max-width: 80%;
   padding: 6px;
}

.sobre-text {
   display: inline-block;
   vertical-align: top;
   text-align: left;
   max-width: 50%;
}

.sobre-text h2 {
   margin-top: 0;
}

.sobre-text p {
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 20px;
}
#produtos {
   background-color: #f8f8f8;
   padding: 50px 0;
}

#produtos h2 {
   margin-top: 0;
}

.produto-grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.produto-item {
   background-color: #fff;
   border: 1px solid #ddd;
   padding: 20px;
   text-align: center;
   flex-basis: 300px;
   max-width: 100%;
}

.produto-item img {
   max-width: 100%;
   height: auto;
   margin-bottom: 10px;
}

.produto-item h3 {
   margin-top: 0;
}

.produto-item p {
   font-size: 14px;
   line-height: 1.5;
   margin-bottom: 10px;
}

.btn {
   background-color: #ff0000;
   border: none;
   color: #fff;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
}

.btn:hover {
   background-color: #cc0000;
}

/* Estilos responsivos */

@media (max-width: 767px) {
   #sobre {
      padding: 20px 0;
   }

   #sobre img {
      display: block;
   }

   .sobre-text {
      max-width: 100%;
   }

   .produto-item {
      flex-basis: calc(50% - 20px);
   }
}

@media (max-width: 575px) {
   .produto-item {
      flex-basis: 100%;
   }
}
